version: '3.7'

services:
  litecoin:
    build: ./litecoin-core-build
    container_name: litecoin
    restart: always
    ports:
      - "${LITECOIN_RPC_PORT}:${LITECOIN_RPC_PORT}"
      - "${LITECOIN_P2P_PORT}:${LITECOIN_P2P_PORT}"
    volumes:
      - ${APP_DATA_DIR}/data:/home/litecoin/.litecoin

  litecoin_node_rpc_flesk:
    build: ./api
    container_name: litecoin_node_rpc_flesk
    restart: always
    ports:
      - "5000:5000"
    environment:
      - RPC_IP=${LITECOIN_NODE_IP}
      - RPC_PORT=${LITECOIN_RPC_PORT}
  litecoin_node_dashboard:
    build: ./gui
    container_name: litecoin_node_dashboard
    restart: always
    ports:
      - "10102:80"
    environment:
      - API_IP=${LITECOIN_LOCALHOST_IP} #ip_of_umbrel_server can be change here, recomnedet to change in exports.sh (can look like this API_IP=192.168.1.2)
    depends_on:
      - litecoin_node_rpc_flesk